.faq {
	padding: 40px 0;

	background-image: url('../../images/beauty-png/lines.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 130%;
}

.faq__items {
	padding: 40px 0;

	@include breakpointFrom(tablet) {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}

.faq__item {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	@include breakpointFrom(tablet) {
		width: calc((100% - 30px * 2) / 2);
	}
}

.faq__title {
	color: $brand-color;
	text-align: center;

	@include breakpointFrom(tablet) {
		font-size: 48px;
	}

	@include breakpointFrom(desktop) {
		font-size: 58px;
	}
}

.faq__text {
	font-size: 14px;

	@include breakpointFrom(tablet) {
		font-size: 20px;
	}
}

.faq__wrapper {
	padding: 40px 0;

	@include breakpointFrom(tablet) {
		padding: 60px 0;
	}
}

// Details 

details[open] summary~* {
	animation: open 0.4s ease-in-out;
}

@keyframes open {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

details summary::-webkit-details-marker {
	display: none;
}

details summary {
	width: 100%;
	padding: 1rem 2rem;
	position: relative;
	cursor: pointer;
	font-size: 1rem;
	list-style: none;

	background-color: $brand-color;
	color: #ffffff;

	margin-bottom: 0.5rem;
	box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
	border-radius: 5px;

	animation: open 1s ease-in-out;
}

details summary:after {
	content: '+';
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #ffffff;
	font-size: 1.75rem;
	line-height: 0;
	font-weight: 200;
	transform-origin: center;
	transition: 200ms linear;
}

details[open] summary:after {
	transform: rotate(45deg);
	font-size: 2rem;
}

details p {
	font-size: 0.95rem;
	font-weight: 500;
	line-height: 1.62;
	color: $brand-accent;

	margin: 0 0 1rem;
	padding: 0.5rem 1rem;
	animation: open 1s ease-in-out;
}