<section class="about js-hidden" id="about">
  <div class="container">
    <p class="about__label">Про нас</p>
    <h2 class="title about__title"><strong>Hair Studio by Viter</strong></h2>
    <div class="about__thumb">
      <div class="img__wrapper">
        <picture class="about__img">
          <img class="img" src="./images/beauty-png/about-photo-min.jpg" width="450" height="450" alt="Антоніна Вітер"
            loading="lazy" />
        </picture>
        <div class="about__data">
          <h3 class="about__name"><strong>Антоніна Вітер</strong></h3>
          <p class="about__subname">Засновниця та директор</p>
        </div>
      </div>
      <div class="about__block">
        <p class="about__text">
          <strong>Hair Studio by Viter</strong> — це не звичайний салон
          нарощування у Дніпрі, скоріше це приватний клуб краси та дизайну
          волосся. Тут знають про догляд та нарощування все, працюють тільки на
          преміальних матеріалах та роблять гарними багато жінок щодня!
        </p>

        <p class="about__text about__text--sub">
          У Hair Studio by Viter можна зробити нарощування капсульне, найменші
          та непомітні нано та мікро капсули. А також роблять кератинове
          випрямлення, ботокс, пілінги, відновлення, фарбування та стрижки.
          Професійні майстри подбають про ідеальний результат без травмування
          волосся.
        </p>

        <p class="about__text about__text--sub">Дізнатись більше про нас...</p>
      </div>
    </div>
  </div>
</section>