<section class="about js-hidden" id="about">
  <div class="container">
    <p class="about__label">Про нас</p>
    <h2 class="title about__title"><strong>Hair Studio by Viter</strong></h2>
    <div class="about__thumb">
      <div class="img__wrapper">
        <picture class="about__img">
          <img
            class="img"
            src="./images/beauty-png/about-photo-min.jpg"
            width="450"
            height="450"
            alt="Антоніна Вітер"
            loading="lazy"
          />
        </picture>
        <div class="about__data">
          <h3 class="about__name"><strong>Антоніна Вітер</strong></h3>
          <p class="about__subname">Засновниця та директор</p>
        </div>
      </div>
      <div class="about__block">
        <p class="about__text">
          <strong>Hair Studio by Viter</strong> — це не просто салон краси чи
          студія волосся у Дніпрі, скоріше це клуб красивого і здорового
          волосся. Це б’юті простір, де щодня втілюються мрії жінок про довге,
          міцне і блискуче волосся.
        </p>

        <p class="about__text about__text--sub">
          Ми знаємо, які результати може приносити правильний догляд за волоссям
          та як важливо, щоб нарощене волосся виглядало натурально. Для роботи
          обираємо тільки якісні засоби, які дійсно працюють та передові
          техніки, які не шкодять волоссю. У Hair Studio by Viter можна зробити
          капсульне нарощування волосся, для якого використовуємо найменші та
          непомітні нано-капсули та мікро-капсули. Також робимо кератинове
          випрямлення, ботокс для волосся, пілінги для шкіри голови,
          амінокислотне відновлення, фарбування волосся, зачіски, стрижки.
          Студія <strong>Антоніни Вітер</strong> створена з думкою про кожну
          жінку, яка хоче забезпечити своєму волоссю якісний та правильний
          догляд. Саме тому в нас діє «розумний прайс» — концепція, завдяки якій
          ви можете обрати процедуру та майстра на комфортний для себе бюджет.
        </p>

        <p class="about__text about__text--sub">Дізнатись більше про нас...</p>
      </div>
    </div>
  </div>
</section>
