<section class="before-affter">
	<div class="container">
		<div class="inner">
			<div class="text-box">
				<h2 class="title">Before & Affter</h2>
				<p class="text">
					За останні 2 роки ми змогли допомогти більше 1 000 жінок, наростивши волосся!
					Перегляньте фотографії до і після процедур, які ми проводили останнім часом.
				</p>
			</div>
			<div class="img-slider">
				<div class='img background-img'></div>
				<div class='img foreground-img'></div>
				<input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider"
					aria-label="Range">
				<div class='slider-button'></div>
			</div>
			<!-- <div class="img-slider">
				<div class='img background-img'></div>
				<div class='img foreground-img'></div>
				<input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider-2" aria-label="Range">
				<div class='slider-button'></div>
			</div> -->
		</div>
	</div>
</section>