<section class="before-affter">
  <div class="container">
    <div class="inner">
      <div class="text-box">
        <h2 class="title">Before & Affter</h2>
        <p class="text">
          За останні 2 роки ми здійснили мрії понад 1000 жінок про довгі та
          гарні пасма — за допомогою нарощування волосся! Просто перегляньте
          наші ДО / ПІСЛЯ, щоб побачити вау-ефект від
          <strong> Hair Studio by Viter</strong>
        </p>
      </div>
      <div class="img-slider">
        <div class="img background-img"></div>
        <div class="img foreground-img"></div>
        <input
          type="range"
          min="1"
          max="100"
          value="50"
          class="slider"
          name="slider"
          id="slider"
          aria-label="Range"
        />
        <div class="slider-button"></div>
      </div>
      <!-- <div class="img-slider">
				<div class='img background-img'></div>
				<div class='img foreground-img'></div>
				<input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider-2" aria-label="Range">
				<div class='slider-button'></div>
			</div> -->
    </div>
  </div>
</section>
