<section class="courses js-hidden" id="courses">
  <div class="container">
    <p class="text courses__label-top">Online</p>
    <h2 class="title courses__title">Навчання</h2>
    <p class="courses__label">
      Станьте майстром безпечного та високооплачуваного нарощування волосся: з
      нуля до професійного рівня
    </p>
    <a href="https://viter-hairstore.com/" class="button button--accent"
      >Навчання</a
    >
    <ul class="courses__list">
      <li class="courses-item">
        <img
          loading="lazy"
          src="./images/courses/img-1.jpg"
          alt="НАРОЩУВАННЯ ВОЛОССЯ"
          width="400"
        />
        <div class="courses-content">
          <h3 class="courses-item__title">
            <strong>НАРОЩУВАННЯ ВОЛОССЯ</strong>
          </h3>
          <p class="courses-item__text">
            Навчання нарощування волосся на курсах онлайн - підвищити здатність,
            не замислюючись про час, освоїти професійні навички, необхідні для
            початку кар'єри або підвищити рівень майстерності.
          </p>
          <p class="courses-item__price">Ціна: <span>15 000 грн</span></p>
          <div class="buttons">
            <a href="https://viter-hairstore.com/" class="button">Детальніше</a>
            <a
              href="https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJhbW91bnQiOiIxNTAwMCIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiLQndCQ0KDQntCp0KPQktCQ0J3QndCvINCS0J7Qm9Ce0KHQodCvIiwicHVibGljX2tleSI6Imk4OTQwMDY2Nzg4OSIsImxhbmd1YWdlIjoidWsiLCJyZXN1bHRfdXJsIjoiaHR0cHM6Ly92aXRlci1oYWlyc3R1ZGlvLmNvbS51YS8ifQ==&signature=vBi6sNskBf54jtcHth4O2E7bizo="
              class="button"
              target="_blank"
              rel="noopener"
              >Придбати</a
            >
          </div>
        </div>
      </li>
      <li class="courses-item">
        <img
          loading="lazy"
          src="./images/courses/img-2.jpg"
          alt="РЕКОНСТРУКЦІЯ ВОЛОССЯ"
          width="400"
        />
        <div class="courses-content">
          <h3 class="courses-item__title courses-item__title--coffee">
            <strong>РЕКОНСТРУКЦІЯ ВОЛОССЯ</strong>
          </h3>
          <p class="courses-item__text">
            У рамках навчання учні отримують базове розуміння того, що є
            реконструкцією, як правильно робити кератин, ботокс.
          </p>
          <p class="courses-item__price">Ціна: <span>15 000 грн</span></p>
          <div class="buttons">
            <a href="v" class="button">Детальніше</a>
            <a
              href="https://www.liqpay.ua/api/3/checkout?data=eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJhbW91bnQiOiIxNTAwMCIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiLQoNCV0JrQntCd0KHQotCg0KPQmtCm0IbQryDQktCe0JvQntCh0KHQryIsInB1YmxpY19rZXkiOiJpODk0MDA2Njc4ODkiLCJsYW5ndWFnZSI6InVrIiwicmVzdWx0X3VybCI6Imh0dHBzOi8vdml0ZXItaGFpcnN0dWRpby5jb20udWEvIn0=&signature=yDtNyEunoOvp2c5fmhIDK5B3UE8="
              class="button"
              target="_blank"
              >Придбати</a
            >
          </div>
        </div>
      </li>
      <li class="courses-item">
        <img
          loading="lazy"
          src="./images/courses/img-3.jpg"
          alt="ПІЛІНГ / ХОЛОДНІ ПРОЦЕДУРИ"
          width="400"
        />
        <div class="courses-content">
          <h3 class="courses-item__title courses-item__title--milk">
            <strong>ПІЛІНГ / ХОЛОДНІ ПРОЦЕДУРИ</strong>
          </h3>
          <p class="courses-item__text">Курс у розробці...</p>
          <p class="courses-item__price">Ціна: <span>_</span></p>
          <div class="buttons">
            <a href="https://viter-hairstore.com/" class="button">Детальніше</a>
            <a href="" class="button">Придбати</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
