<section id="reviews" class="customer-reviews js-hidden">
  <div class="container customer-reviews__container">
    <h2 class="customer-reviews__header visually-hidden">
      Відгуки наших клієнтів
    </h2>
    <ul class="reviews__slider">
      <li>
        <picture class="customer-reviews__photo">
          <img
            class=""
            src="./images/feedback/IMG_5717.jpg"
            width="485"
            height="200"
            alt="Client Photo"
            loading="lazy"
          />
        </picture>

        <!-- <div class="customer-reviews__quote-wrapper">
          <div class="customer-reviews__quote">
            <p class="subtext customer-reviews__subtext">
              Ваші капсули мега круті і з кожним разом крутіше!
            </p>
          </div>
        </div> -->
      </li>
      <li>
        <picture class="customer-reviews__photo">
          <img
            class=""
            src="./images/feedback/IMG_5718.jpg"
            width="485"
            alt="Client Photo"
            loading="lazy"
          />
        </picture>

        <!-- <div class="customer-reviews__quote-wrapper">
          <div class="customer-reviews__quote">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
              incidunt est adipisci sit illum totam quae harum repellendus
              praesentium quaerat eaque veniam beatae ullam.
            </p>
          </div>
        </div>
        <span class="customer-reviews__person">Monica, Sydney</span> -->
      </li>
      <li>
        <picture class="customer-reviews__photo">
          <img
            class=""
            src="./images/feedback/IMG_5719.jpg"
            width="485"
            alt="Client Photo"
            loading="lazy"
          />
        </picture>

        <!-- <div class="customer-reviews__quote-wrapper">
          <div class="customer-reviews__quote">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
              incidunt est adipisci sit illum totam quae harum repellendus
              praesentium quaerat eaque veniam beatae ullam.
            </p>
          </div>
        </div>
        <span class="customer-reviews__person">Monica, Sydney</span> -->
      </li>
      <li>
        <picture class="customer-reviews__photo">
          <!-- <source
            srcset="
              ./images/custom-services/client11x-descktop.png 1x,
              ./images/custom-services/client12x-descktop.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/custom-services/client11x-tablet.png 1x,
              ./images/custom-services/client12x-tablet.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/custom-services/client1x-mobile.png 1x,
              ./images/custom-services/client2x-mobile.png 2x
            "
            media="(min-width:480px)"
          /> -->
          <img
            class=""
            src="./images/feedback/IMG_5720.jpg"
            width="485"
            alt="Client Photo"
            loading="lazy"
          />
        </picture>

        <!-- <div class="customer-reviews__quote-wrapper">
          <div class="customer-reviews__quote">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
              incidunt est adipisci sit illum totam quae harum repellendus
              praesentium quaerat eaque veniam beatae ullam.
            </p>
          </div>
        </div>
        <span class="customer-reviews__person">Monica, Sydney</span> -->
      </li>
      <li>
        <picture class="customer-reviews__photo">
          <img
            class=""
            src="./images/feedback/IMG_5722.jpg"
            width="485"
            height="100%"
            alt="Client Photo"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
