<section class="customer-reviews">
	<div class="container customer-reviews__container">
		<div class="customer-header">
			<h2 class="title customer-reviews__title">
				Відгуки наших клієнтів
			</h2>
			<a href="https://g.page/r/CZCKfywlvl5mEAI/review">
				<span>Додати відгуки + </span>
			</a>
		</div>
		<div class="splide" id="reviews-slider">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide rewiews-item review-scorecard">
						<div class="reviews-bal">
							<p>4,4<span>із 5</span></p>
						</div>
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<div class="review__description">
							Щє більше відгуків в нашому магазині на Google
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Тонечка, спасибо огромное, за подход и профессионализм! Я довольна как слон! <br> Это то,
							чего я
							хотела много лет! 😘
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">_vlada.korochanskaya_</div>
								<div class="review__date">1 лютого 2023</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Привет. Всё хорошо, очень комфортно, на отдыхе не было никаких проблем. И главное, я не
							переживала что капсулы видны)))) <br> На данный момент только 2 капсулы отпали, но думаю это
							потому, что сейчас активно лечу псориаз, удивительно что только 2 🔥🔥🔥
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">elena__about_777/div>
								<div class="review__date">27 травня 2021</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Мои первые 5 дней в новом образе: множество комплиментов, вдохновение на новые проекты,
							дочка захотела отращивать волосы.
							Привыкаю, но уже мы прям родные стали 🥰 <br>
							Так что я довольна на все 100%!
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">innadrabik</div>
								<div class="review__date">22 січня 2021</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Тоня, красота которую ты сделала получила оценку «5»!!! от мужчин, а вот девчонки
							скрипя зубами сказали «очень хорошо» (завидуют)
							что сказать 😂, а от себя скажу, что мне очень-очень нравится, удобно, и ничего не мешает!!!
							❤️❤️❤️
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">te.sha._</div>
								<div class="review__date">8 травня 2023</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Спасибо большое за наращивание. Кучу комплиментов, мне кажется, я с ними навсегда теперь))))
							но ухаживать ещё впереди. <br>
							Все удивляются, что очень незаметные капсулы, ничего не видно 🔥🔥🔥
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">kristinkaarut</div>
								<div class="review__date">18 листапада 2021</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Спасибо тебе огромное 🫶🏻 <br>
							Круто, что ты такой открытый человек, каждому клиенту очень повезло, что ты делишься
							знаниями.
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">olgadentist_</div>
								<div class="review__date">28 березня 2023</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Обожаю вашу атмосферу, работу, волосики и ещё виноооо ❣️❣️❣️❣️❣️ <br>
							Уже скучаю!
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">shawn.sofi</div>
								<div class="review__date">19 січня 2023</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Девочки, вы пожар 🔥🔥🔥🔥 <br>
							Это не капсулы, а волшебство. <br>
							Вау! У меня их вообще нет, я могу с ними все, там все красиво, удобно, легко 🙏🏻🙏🏻🙏🏻
							<br>
							Я ваша на веки!!!!
							ваувау,
							тысячу комплиментов получила, спасибо!!!
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">ann_universe1311</div>
								<div class="review__date">20 травня 2023</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Тоня ты лучшая!!! <br>
							Мои волосы и укладку после ботокса оценили все!!!!! <br>
							Весь Дубай 😍😍😍 <br>
							Спасибо ещё раз огромное....ты фея в своей индустрии. <br>
							Муж в шоке, ни одна волосинка не торчит, пушистости нет и это без утюжка и даже практически
							без расчёски (дочка забыла и мы пользуемся одной.
							Ты БОГИНЯ ❤️❤️❤️
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">__lilit_hair__</div>
								<div class="review__date">20 травня 2023</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Добрый день! <br> Спасибо вам и вашим девочкам за волосики!
							Я довольна! Нарастили прекрасно, аккуратно, быстро, ничего не тянет, не колет, не сыпется, я
							довольна,
							благодарю! 👍🏻👍🏻👍🏻
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">_natali_beauty_room</div>
								<div class="review__date">5 серпня 2022</div>
							</div>
						</div>
					</li>
					<li class="splide__slide rewiews-item">
						<div class="review__rating">
							<img alt=""
								src="https://static.beautytocare.com/skin/frontend/base/default/ctb_review/2022/stars-facebook-5.svg"
								width="97" height="18">
						</div>
						<p class="review__description">
							Добрый день, хочу написать
							ОТЗЫВ 🥰 <br>
							Это просто пушечный выстрел вашей студии в мое сердечко! <br>
							Я с хвостом хожу даже когда с чистой головой 😳, для меня
							это треш, капсулки вообще не видно!!! Такая кропотливая работа, но я кайфую каждый божий
							день +1 супер счастливый постоянный гость к вам ❣️❣️❣️ <br>
							Спасибо большое за Ваши ручки!
						</p>
						<div class="reviewer">
							<div class="reviewer__photo">
								<img alt="" loading="lazy" class="reviewer__photoimg"
									src="./images/feedback-photo/favourite.png" width="50" height="50">
							</div>

							<div class="reviewer__identification">
								<div class="reviewer__name">oh_my_sofi</div>
								<div class="review__date">1 вересня 2022</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>