<section id="reviews" class="customer-reviews js-hidden">
  <div class="container customer-reviews__container">
    <h2 class="customer-reviews__header visually-hidden">
      Відгуки наших клієнтів
    </h2>
    <ul class="reviews__slider">
      <li>
        <picture class="customer-reviews__photo">
          <img class="" src="./images/feedback/IMG_5717.jpg" width="485" height="200" alt="Client Photo"
            loading="lazy" />
        </picture>
      </li>
      <li>
        <picture class="customer-reviews__photo">
          <img class="" src="./images/feedback/IMG_5718.jpg" width="485" height="400" alt="Client Photo" loading="lazy" />
        </picture>
      </li>
      <li>
        <picture class="customer-reviews__photo">
          <img class="" src="./images/feedback/IMG_5719.jpg" width="485" alt="Client Photo" loading="lazy" />
        </picture>
      </li>
      <li>
        <picture class="customer-reviews__photo">
          <img class="" src="./images/feedback/IMG_5720.jpg" width="485" height="400" alt="Client Photo" loading="lazy" />
        </picture>
      </li>
      <li>
        <picture class="customer-reviews__photo">
          <img class="" src="./images/feedback/IMG_5722.jpg" width="485" height="400" alt="Client Photo"
            loading="lazy" />
        </picture>
      </li>
    </ul>
  </div>
</section>