<section id="faq" class="faq js-hidden">
  <div class="container faq__container">
    <h2 class="title faq__title">Faq</h2>
    <p class="text faq__text">або часті запитання</p>
    <div class="faq__wrapper">
      <details>
        <summary>
          <h3><strong>Що може бути причиною випадання волосся?</strong></h3>
        </summary>
        <p>
          Волосся випадає з різних причин. Це може бути
          <b>генетична схильність</b>, у тому числі <b>андрогенна алопеція</b>,
          стрес, незбалансоване харчування, зміни гормонального фону, проблеми
          зі щитовидкою, шкірні захворювання (грибкові інфекції, дерматити),
          неправильний догляд за волоссям. Також ця проблема часто зустрічається
          під час вагітності, після вагітності, а також під час годування
          груддю.
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong
              >Зняття нарощеного волосся - особливості зняття гарячого та
              холодного нарощування</strong
            >
          </h3>
        </summary>
        <p>
          Зняття нарощених пасм відбувається по-різному - залежно від того, за
          якою технологією було скріплене волосся. Як відомо, в даний час існує
          безліч способів штучного подовження волосся - це і гаряче нарощування
          кератину, і холодне стрічкове нарощування, і англійське нарощування на
          смолі.
        </p>
        <p>
          Якщо розглядати гаряче нарощування волосся, то зняття відбувається
          так. Майстер по черзі, починаючи з верхніх ділянок голови та рухаючись
          до потилиці, бере пасма і наносить на кератинові капсули спеціальну
          рідину. Після того, як кератин розм'якшується, фахівець із нарощування
          опрацьовує капсули додатково щипчиками для зняття. Після цього
          кератинові сполуки розсипаються на порох. Зняття нарощеного волосся за
          англійською технологією відбувається аналогічним чином. Різниця
          полягає лише в тому, що зняти нарощене волосся в першому випадку
          набагато простіше. Смола, яку використовують для з'єднання штучних та
          природних локонів при англійській технології, більш травматична. Після
          того, як кератин або смола розбиті, майстер стягує штучні пасма для
          нарощування, притримуючи натуральні локони біля самого коріння. Що
          далі? Як відомо, нарощене волосся, за яким не було здійснено належного
          догляду, може збиватися в клаптики і ковтуни. Тому наступний етап – це
          ретельне прочісування шевелюри. Далі – миття голови із шампунем
          глибокого очищення.
        </p>
        <p>
          Зняття нарощених пасм відбувається по-різному - залежно від того, за
          якою технологією було скріплене волосся. Як відомо, в даний час існує
          безліч способів штучного подовження волосся - це і гаряче нарощування
          кератину, і холодне стрічкове нарощування, і англійське нарощування на
          смолі.
        </p>
        <p>
          Для зняття стрічкового нарощування волосся також використовується
          спеціальна рідина. Після цього обережно розліплює стрічку руками.
          Після цього він також прочісує локони, прибирає клаптики та
          сплутаності, і промиває шевелюру клієнта.
        </p>
        <p>
          Зняття нарощеного волосся - це абсолютно безпечна і проста процедура.
          Однак для її виконання потрібен певний досвід та вміння. І тому зняти
          нарощене волосся в домашніх умовах без жодної шкоди для природної
          шевелюри часом неможливо.
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong>Чи можна нарощувати волосся при випаданні волосся?</strong>
          </h3>
        </summary>
        <p>
          Нарощування волосся при звичайному, нормальному випаданні волосся від
          50 до 150 волосся на день протипоказанням до нарощування волосся не є.
          А скоріше протипоказанням до нарощування волосся при випадінні волосся
          буде андрогенна алопеція - захворювання, при якому відбувається повне,
          тотальне випадання волосся.
        </p>
        <p>
          Нормою випадання волосся вважається випадання від 50 до 150 волосся на
          день. Старі випадають, а на їхньому місці починають рости нові. Якби
          вони зовсім не випадали, то не росли б і нові.
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong>Чи сумісні кератинове випрямлення та нарощування?</strong>
          </h3>
        </summary>
        <p>
          Але потрібно врахувати, що кератинове випрямлення буває різним! Різні
          склади. Після якихось можна відразу нарощувати волосся, а після деяких
          доведеться почекати, поки змиється кератин.
        </p>
        <p>
          А у кого кучеряве волосся, хотілося б навіть порадити зробити
          кератинове випрямлення перед нарощуванням, якщо ви вибрали пряме
          волосся! Так ваше волосся буде виглядати більш природно і можна не
          вдаватися до випрямлення волосся!
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong
              >Чим відрізняються мікрокапсули від нанокапсул для нарощування
              волосся?</strong
            >
          </h3>
        </summary>
        <p>
          Обидва види — це безпечні капсули, але вони відрізняються за розміром
          та тривалістю самої процедури нарощування.
        </p>
        <p>
          Нано- капсула — це найменша капсула, що буде непомітна в будь-якій
          укладці чи зачісці. Підходить для крайових зон (загущення скроневих
          зон та чубчика) та для тонкого волосся середньої густоти. Мікрокапсула
          — це капсула, за розміром у 2-3 рази більша за нано-капсулу.
          Нарощування з мікрокапсулами виконується набагато швидше, ніж з нано-,
          але вони не підходять для тонкого волосся.
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong
              >Чи можна мити, фарбувати й укладати нарощене волосся?</strong
            >
          </h3>
        </summary>
        <p>
          Так. Натуральне донорське волосся можна фарбувати та укладати, але з
          дотриманням рекомендацій наших майстрів. А догляд за ним майже такий
          самий, як і за натуральним.
        </p>
        <p>
          Нюанси щодо миття: слід використовувати шампунь із мінімальним вмістом
          кондиціонуючих речовин та уникати попадання бальзамів, кондиціонерів,
          масок на капсули (щоб не трапилось сповзання або кристалізації
          полімеру капсули).
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong>Як довго можна носити нарощене волосся?</strong>
          </h3>
        </summary>
        <p>
          Термін носіння нарощеного волосся залежить від індивідуальних
          особливостей: швидкості росту вашого волосся та догляду. У середньому
          корекцію нарощеного волосся потрібно робити кожні 2-3 місяці.
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong
              >Що таке реконструкція волосся та як визначити, чи потребує
              волосся реконструкції?</strong
            >
          </h3>
        </summary>
        <p>
          Реконструкція волосся — це процедури відновлення пошкодженого волосся
          з використанням спеціальних засобів. Основна мета реконструкції:
          здорове, сильне та блискуче волосся.
        </p>
        <p>
          Якщо ваше волосся тьмяне, ламке, з посіченими кінчиками, був хімічний
          або є регулярний термічний вплив, то найімовірніше, реконструкція
          волосся буде для вас корисною.
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong
              >Які є методи реконструкції волосся у вашому салоні та як
              дізнатись, який метод відновлення потрібен для мого
              волосся?</strong
            >
          </h3>
        </summary>
        <p>
          Наша студія пропонує такі методи реконструкції: амінокислотне
          відновлення волосся, аміноплазма, білкове наповнення, ліпідне
          наповнення.
        </p>
        <p>
          Щоб підібрати ефективний метод реконструкції конкретно для вашого
          волосся, ми надаємо офлайн консультації. Спочатку проводиться
          діагностика волосся та шкіри голови, потім майстер аналізує стан
          вашого волосся та з урахуванням ваших побажань надає рекомендацію і
          пояснює деталі. Наша мета — зробити для вас результат, який виправдає
          чи навіть перевершить ваші очікування.
        </p>
      </details>
      <details>
        <summary>
          <h3>
            <strong>Що таке амінокислотне відновлення волосся?</strong>
          </h3>
        </summary>
        <p>
          Це унікальна розробка — для відновлення структури дуже пошкодженого
          волосся (після хімічних або термічних процедур). Процедура виконується
          спеціальними засобами з високим вмістом амінокислот, які й
          забезпечують потужний ефект: зміцнюють волосся, надають йому здоровий
          блиск та сяйво.
        </p>
      </details>
    </div>
  </div>
</section>
