<header class="header" id="home">
  <div class="nav-wrapper">
    <div class="container">
      <div class="header__nav">
        <a href="/" class="logo header__logo" role="link">
          <img
            src="./images/logo-beuty/logo-black.png"
            alt="Логотип"
            class="logo__img"
            width="100"
            height="81"
            aria-label="Логотип"
            loading="lazy"
          />
        </a>
        <nav class="nav" data-menu id="menu-container">
          <ul class="nav__items" role="menu" aria-labelledby="menubutton">
            <li class="nav__item" role="presentation">
              <a href="/" role="menuitem" class="nav__link">ГОЛОВНА</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#about" role="menuitem" class="nav__link">О нас</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#products" role="menuitem" class="nav__link">ПОСЛУГИ</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#price" role="menuitem" class="nav__link">ПРАЙС</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="./masters.html" role="menuitem" class="nav__link"
                >Майстри</a
              >
            </li>
            <li class="nav__item" role="presentation">
              <a href="#courses" role="menuitem" class="nav__link primary"
                >Навчання</a
              >
            </li>
            <li class="nav__item" role="presentation">
              <a href="#faq" role="menuitem" class="nav__link">FAQ</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#contacts" role="menuitem" class="nav__link">КОНТАКТИ</a>
            </li>
          </ul>
          <ul class="contact__items">
            <li class="contact__item">
              <a href="mailto:info@devstudio.com" class="contact__link"
                ><svg class="icon contact__icon" aria-label="post">
                  <use
                    href="./images/icon/symbol-defs.svg#icon-post"
                  ></use></svg
                >info@devstudio.com</a
              >
            </li>
            <li class="contact__item">
              <a href="tel:+380730011110" class="contact__link"
                ><svg class="icon contact__icon" aria-label="phone">
                  <use
                    href="./images/icon/symbol-defs.svg#icon-phone"
                  ></use></svg
                >+38 073 001 11 10</a
              >
            </li>
          </ul>
        </nav>
        <button
          class="button__menu"
          type="button"
          role="button"
          data-menu-button
          aria-controls="menu-container"
          aria-label="button"
        >
          <span class="button__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
