<header class="header" id="home">
  <div class="address">
    <div class="container">
      <div class="header-address">
        <ul class="address-social">
          <li class="address-social__item">Social links:</li>
          <li class="address-social__item">
            <a href="https://www.tiktok.com/@viter.hair?_t=8XqBwyVZGh4&_r=1" class="address-social__links" role="link"
              aria-label="social link"><svg class="icon">
                <use href="./images/icon/symbol-defs.svg#icon-tik-tok"></use>
              </svg></a>
          </li>
          <li class="address-social__item">
            <a href="https://www.instagram.com/viter_hair/?igshid=MWI4MTIyMDE%3D" class="address-social__links"
              role="link" aria-label="social link"><svg class="icon">
                <use href="./images/icon/symbol-defs.svg#icon-instagram"></use>
              </svg></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="container">
      <div class="header__nav">
        <a href="/" class="logo header__logo" role="link">
          <img src="./images/logo-beuty/logo-black.png" alt="Логотип" class="logo__img" width="100" height="81"
            aria-label="Логотип" loading="lazy" /></a>
        <nav class="nav" data-menu id="menu-container">
          <ul class="nav__items" role="menu" aria-labelledby="menubutton">
            <li class="nav__item" role="presentation">
              <a href="#home" role="menuitem" class="nav__link">ГОЛОВНА</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#about" role="menuitem" class="nav__link">О нас</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#products" role="menuitem" class="nav__link">ПОСЛУГИ</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#price" role="menuitem" class="nav__link">ПРАЙС</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#masters" role="menuitem" class="nav__link">Майстри</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#faq" role="menuitem" class="nav__link">FAQ</a>
            </li>
            <li class="nav__item" role="presentation">
              <a href="#footer" role="menuitem" class="nav__link">КОНТАКТИ</a>
            </li>
          </ul>
          <ul class="contact__items">
            <li class="contact__item">
              <a href="mailto:info@devstudio.com" class="contact__link"><svg class="icon contact__icon"
                  aria-label="post">
                  <use href="./images/icon/symbol-defs.svg#icon-post"></use>
                </svg>info@devstudio.com</a>
            </li>
            <li class="contact__item">
              <a href="tel:+3800730011110" class="contact__link"><svg class="icon contact__icon" aria-label="phone">
                  <use href="./images/icon/symbol-defs.svg#icon-phone"></use>
                </svg>+380 073 001 11 10</a>
            </li>
          </ul>
        </nav>
        <button class="button__menu" type="button" role="button" data-menu-button aria-controls="menu-container"
          aria-label="button">
          <span class="button__line"></span>
        </button>
        <ul class="contact__items">
          <li class="contact__item">
            <a href="mailto:info@viter-hairstudio.com.ua" class="contact__link" aria-label="email link"><svg
                class="icon contact__icon" aria-label="post">
                <use href="./images/icon/symbol-defs.svg#icon-post"></use>
              </svg>info@viter-hairstudio.com.ua</a>
          </li>
          <li class="contact__item">
            <a href="tel:+3800730011110" class="contact__link" aria-label="tel link"><svg class="icon contact__icon"
                aria-label="phone">
                <use href="./images/icon/symbol-defs.svg#icon-phone"></use>
              </svg>+380 073 001 11 10</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>