<section class="hero" id="home">
  <div class="container">
    <div class="hero__inner">
      <!-- Header body -->
      <div class="hero__body">
        <ul class="hero__items">
          <li class="hero__item">
            <h1
              class="title hero__title animate__animated animate__fadeInLeft animate__slower"
            >
              ВАШЕ ВОЛОССЯ <br />

              ЗАСЛУГОВУЄ НА ПРАВИЛЬНИЙ ДОГЛЯД <br />
              <span
                class="hero__title--accent animate__animated animate__fadeInLeft animate__slower"
                >Ми знаємо все про догляд за волоссям — від нарощування і
                безпечного фарбування до реконструкції та доглядових процедур.
                Працюємо виключно на преміальних матеріалах. Наше завдання — не
                лише краса, але й здоров'я вашого волосся.
              </span>
            </h1>
            <a
              href="#price"
              class="button button--accent animate__animated animate__fadeIn animate__slower"
              aria-label="Products"
              >Прайс</a
            >
            <a
              href="#products"
              class="button animate__animated animate__fadeIn animate__slower"
              aria-label="How it’s made?"
              >Дивитись послуги</a
            >
          </li>
        </ul>
        <div class="hero__product product">
          <div class="product__body">
            <p
              class="product__text animate__animated animate__fadeInUp animate__slower"
            >
              Наші професійні майстрині подбають про ідеальний результат без
              травмування волосся.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
