<section class="hero" id="home">
  <div class="container">
    <div class="hero__inner">
      <!-- Header body -->
      <div class="hero__body">
        <ul class="hero__items">
          <li class="hero__item">
            <h1
              class="title hero__title animate__animated animate__fadeInLeft animate__slower"
            >
              твоє волосся <br />
              потребує у правильному догляді. <br />
              <span
                class="hero__title--accent animate__animated animate__fadeInLeft animate__slower"
                >Вони дуже м'які і не викликають болю. Він любить піклуватися
                про свою сім'ю.</span
              >
            </h1>
            <a
              href="#price"
              class="button button--accent animate__animated animate__fadeIn animate__slower"
              aria-label="Products"
              >Прайс</a
            >
            <a
              href="#products"
              class="button animate__animated animate__fadeIn animate__slower"
              aria-label="How it’s made?"
              >Дивитись послуги</a
            >
          </li>
        </ul>
        <div class="hero__product product">
          <div class="product__body">
            <p
              class="product__text animate__animated animate__fadeInUp animate__slower"
            >
              Тут знають про догляд та нарощування все, працюють тільки на
              преміальних матеріалах та роблять гарними багато жінок щодня!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
