<section class="advantages js-hidden" id="masters">
  <div class="container">
    <h2 class="advantages__header visually-hidden">Наші Майстри</h2>
    <div class="advantages__wrapper">
      <div class="advantages-box">
        <p class="text advantages-box__text">Прекрасні фей зачісок</p>
        <h3 class="title advantages-box__title" >
          <strong>Наші Майстри</strong>
        </h3>
        <p class="text advantages-box__subtext">
          Це наша особлива гордість, це лише творчі люди, і в доброму значенні слова фанати своєї справи.
        </p>
      </div>
      <div class="center">
        <div class="wrapper">
          <div class="inner">
            <div class="card">
              <img src="./images/beauty-png/Frame 5.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Product Design</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
            <div class="card">
              <img src="./images/beauty-png/Frame 6.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Custom Website</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
            <div class="card">
              <img src="./images/beauty-png/Frame 7.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Digital Marketing</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
            <div class="card">
              <img src="./images/beauty-png/Frame 8.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Digital Marketing</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
            <div class="card">
              <img src="./images/beauty-png/Frame 9.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Digital Marketing</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
            <div class="card">
              <img src="./images/beauty-png/Frame 5.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Digital Marketing</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
            <div class="card">
              <img src="./images/beauty-png/Frame 6.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Digital Marketing</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
            <div class="card">
              <img src="./images/beauty-png/Frame 7.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Digital Marketing</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
            <div class="card">
              <img src="./images/beauty-png/Frame 8.jpg" loading="lazy" alt="майстер студії"/>
              <div class="content">
                <h1 class="card__title">Digital Marketing</h1>
                <h3 class="card__text">Hair Designer</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="map">
          <button class="active first" aria-controls="button"></button>
          <button class="second" aria-controls="button"></button>
          <button class="third" aria-controls="button"></button>
        </div>
      </div>
    </div>
  </div>
</section>
