<section class="advantages js-hidden" id="masters">
  <div class="container">
    <h2 class="advantages__header visually-hidden">Наші Майстри</h2>
    <div class="advantages__wrapper">
      <div class="advantages-box">
        <p class="text advantages-box__text">Прекрасні фей зачісок</p>
        <h3 class="title advantages-box__title">
          <strong>Наші Майстри</strong>
        </h3>
        <p class="text advantages-box__subtext">
          Це наша особлива гордість, професійні та творчі люди, які щиро
          захоплені своєю справою.
        </p>
      </div>
      <div
        class="splide"
        id="mastersSlide"
        aria-label="Splide Collections Foto"
      >
        <div class="splide__track">
          <div class="splide__list">
            <div class="card splide__slide">
              <div class="masters__inner">
                <img
                  loading="lazy"
                  src="./images/masters/Antonina_Viter.jpg"
                  alt="Антонина Витер"
                  aria-label="Мастера по наращиванию"
                />
              </div>

              <div class="masters__content">
                <h3 class="masters__title">Антонина Витер</h3>
                <p class="masters__subtitle">
                  Засновниця, топ тренер з навчання нарощення, реконструкція та
                  модифікація волосся
                </p>
              </div>
            </div>
            <div class="card splide__slide">
              <div class="masters__inner">
                <img
                  loading="lazy"
                  src="./images/masters/Набієва-Леся.jpg"
                  alt="Баряхтар Катерина"
                  aria-label="Мастера по наращиванию"
                />
              </div>
              <div class="masters__content">
                <h3 class="masters__title">Набієва Леся</h3>
                <p class="masters__subtitle">
                  Співвласниця студії, майстер візажист
                </p>
              </div>
            </div>
            <div class="card splide__slide">
              <div class="masters__inner">
                <img
                  loading="lazy"
                  src="./images/masters/Baryahtar_Kateryna.jpg"
                  alt="Баряхтар Катерина"
                  aria-label="Мастера по наращиванию"
                />
              </div>
              <div class="masters__content">
                <h3 class="masters__title">Баряхтар Катерина</h3>
                <p class="masters__subtitle">
                  Дірект-менеджер, менеджер з продажу
                </p>
              </div>
            </div>
            <div class="card splide__slide">
              <div class="masters__inner">
                <img
                  loading="lazy"
                  src="./images/masters/Волкова-Інна.jpg"
                  alt="Мастера по наращиванию"
                  aria-label="Мастера по наращиванию"
                />
              </div>
              <div class="masters__content">
                <h3 class="masters__title">Волкова Інна</h3>
                <p class="masters__subtitle">
                  Топ майстер з нарощування, модифікації та реконструкції
                  волосся, майстер колорист
                </p>
              </div>
            </div>
            <div class="card splide__slide">
              <div class="masters__inner">
                <img
                  loading="lazy"
                  src="./images/masters/Забеліна-Марина.jpg"
                  alt="Забеліна Марина"
                  aria-label="Мастера по наращиванию"
                />
              </div>
              <div class="masters__content">
                <h3 class="masters__title">Забеліна Марина</h3>
                <p class="masters__subtitle">
                  Майстер універсал, колорист, молодший майстер з нарощування та
                  реконструкції волосся
                </p>
              </div>
            </div>
            <div class="card splide__slide">
              <div class="masters__inner">
                <img
                  loading="lazy"
                  src="./images/masters/Заполучнікова-Ганна.jpg"
                  alt="Заполучнікова Ганна"
                  aria-label="Мастера по наращиванию"
                />
              </div>
              <div class="masters__content">
                <h3 class="masters__title">Заполучнікова Ганна</h3>
                <p class="masters__subtitle">
                  Топ майстер з нарощування та реконструкції волосся, майстер
                  колорист
                </p>
              </div>
            </div>
            <div class="card splide__slide">
              <div class="masters__inner">
                <img
                  loading="lazy"
                  src="./images/masters/Іванова-Юля.jpg"
                  alt="Іванова Юля"
                  aria-label="Мастера по наращиванию"
                />
              </div>
              <div class="masters__content">
                <h3 class="masters__title">Іванова Юля</h3>
                <p class="masters__subtitle">
                  Топ майстер - колорист, майстер з нарощування, реконструкції
                  та модифікації волосся
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
