<section class="advantages js-hidden" id="masters">
	<div class="container">
		<h2 class="advantages__header visually-hidden">Наші Майстри</h2>
		<div class="advantages__wrapper">
			<div class="advantages-box">
				<p class="text advantages-box__text">Прекрасні фей зачісок</p>
				<h3 class="title advantages-box__title">
					<strong>Наші Майстри</strong>
				</h3>
				<p class="text advantages-box__subtext">
					Це наша особлива гордість, це лише творчі люди, і в доброму значенні
					слова фанати своєї справи.
				</p>
			</div>
			<div class="splide" id="mastersSlide" aria-label="Splide Collections Foto">
				<div class="splide__track">
					<div class="splide__list">
						<div class="card splide__slide">
							<div class="img-wrap">
								<picture>
									<source srcset="
                      ./images/masters/1x/01_x.webp 1x,
                      ./images/masters/2x/01_x.webp 2x
                    " loading="lazy" media="(min-width:1280px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/01_x.webp 1x,
                      ./images/masters/2x/01_x.webp 2x
                    " loading="lazy" media="(min-width:768px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/01_x.webp 1x,
                      ./images/masters/2x/01_x.webp 2x
                    " loading="lazy" media="(min-width:480px)" width="296" height="370" />
									<img class="" src="./images/masters/2x/01_x.webp" loading="lazy"
										alt="майстер студії" width="296" height="370" />
								</picture>
							</div>
							<div class="content">
								<h3 class="card__title"><strong>Вітер Антоніна</strong></h3>
								<p class="card__text">
									Майстер з нарощування та реконструкції волосся, майстер -
									універсал
								</p>
							</div>
						</div>
						<div class="card splide__slide">
							<div class="img-wrap">
								<picture>
									<source srcset="
                      ./images/masters/1x/02_x.webp 1x,
                      ./images/masters/2x/02_x.webp 2x
                    " loading="lazy" media="(min-width:1280px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/02_x.webp 1x,
                      ./images/masters/2x/02_x.webp 2x
                    " loading="lazy" media="(min-width:768px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/02_x.webp 1x,
                      ./images/masters/2x/02_x.webp 2x
                    " loading="lazy" media="(min-width:480px)" width="296" height="370" />
									<img class="" src="./images/masters/2x/02_x.webp" loading="lazy"
										alt="майстер студії" width="296" height="370" />
								</picture>
							</div>
							<div class="content">
								<h3 class="card__title">Баряхтар Катерина</h3>
								<p class="card__text">Адміністратор студії</p>
							</div>
						</div>
						<div class="card splide__slide">
							<div class="img-wrap">
								<picture>
									<source srcset="
                      ./images/masters/1x/03_x.webp 1x,
                      ./images/masters/2x/03_x.webp 2x
                    " loading="lazy" media="(min-width:1280px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/03_x.webp 1x,
                      ./images/masters/2x/03_x.webp 2x
                    " loading="lazy" media="(min-width:768px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/03_x.webp 1x,
                      ./images/masters/2x/03_x.webp 2x
                    " loading="lazy" media="(min-width:480px)" width="296" height="370" />
									<img class="" src="./images/masters/2x/03_x.webp" loading="lazy"
										alt="майстер студії" width="296" height="370" />
								</picture>
							</div>
							<div class="content">
								<h3 class="card__title">Потілаха Ганна</h3>
								<p class="card__text">
									Майстер з нарощування волосся, колорист, майстер студії
								</p>
							</div>
						</div>
						<div class="card splide__slide">
							<div class="img-wrap">
								<picture>
									<source srcset="
                      ./images/masters/1x/04_x.webp 1x,
                      ./images/masters/2x/04_x.webp 2x
                    " loading="lazy" media="(min-width:1280px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/04_x.webp 1x,
                      ./images/masters/2x/04_x.webp 2x
                    " loading="lazy" media="(min-width:768px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/04_x.webp 1x,
                      ./images/masters/2x/04_x.webp 2x
                    " loading="lazy" media="(min-width:480px)" width="296" height="370" />
									<img class="" src="./images/masters/2x/04_x.webp" loading="lazy"
										alt="майстер студії" width="296" height="370" />
								</picture>
							</div>
							<div class="content">
								<h3 class="card__title">Грищук Інна</h3>
								<p class="card__text">Майстер з реконструкції волосся</p>
							</div>
						</div>
						<div class="card splide__slide">
							<div class="img-wrap">
								<picture>
									<source srcset="
                      ./images/masters/1x/05_x.webp 1x,
                      ./images/masters/2x/05_x.webp 2x
                    " loading="lazy" media="(min-width:1280px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/05_x.webp 1x,
                      ./images/masters/2x/05_x.webp 2x
                    " loading="lazy" media="(min-width:768px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/05_x.webp 1x,
                      ./images/masters/2x/05_x.webp 2x
                    " loading="lazy" media="(min-width:480px)" width="296" height="370" />
									<img class="" src="./images/masters/2x/05_x.webp" loading="lazy"
										alt="майстер студії" width="296" height="370" />
								</picture>
							</div>
							<div class="content">
								<h3 class="card__title">Клімашевич Віра</h3>
								<p class="card__text">Молодший майстер з нарощування волосся</p>
							</div>
						</div>
						<div class="card splide__slide">
							<div class="img-wrap">
								<picture>
									<source srcset="
                      ./images/masters/1x/06_x.webp 1x,
                      ./images/masters/2x/06_x.webp 2x
                    " loading="lazy" media="(min-width:1280px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/06_x.webp 1x,
                      ./images/masters/2x/06_x.webp 2x
                    " loading="lazy" media="(min-width:768px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/06_x.webp 1x,
                      ./images/masters/2x/06_x.webp 2x
                    " loading="lazy" media="(min-width:480px)" width="296" height="370" />
									<img class="" src="./images/masters/2x/06_x.webp" loading="lazy"
										alt="майстер студії" width="296" height="370" />
								</picture>
							</div>
							<div class="content">
								<h3 class="card__title">Кривенко Каріна</h3>
								<p class="card__text">Майстер - Капсулятор</p>
							</div>
						</div>
						<div class="card splide__slide">
							<div class="img-wrap">
								<picture>
									<source srcset="
                      ./images/masters/1x/07_x.webp 1x,
                      ./images/masters/2x/07_x.webp 2x
                    " loading="lazy" media="(min-width:1280px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/07_x.webp 1x,
                      ./images/masters/2x/07_x.webp 2x
                    " loading="lazy" media="(min-width:768px)" width="296" height="370" />
									<source srcset="
                      ./images/masters/1x/07_x.webp 1x,
                      ./images/masters/2x/07_x.webp 2x
                    " loading="lazy" media="(min-width:480px)" width="296" height="370" />
									<img class="" src="./images/masters/2x/07_x.webp" loading="lazy"
										alt="майстер студії" width="296" height="370" />
								</picture>
							</div>
							<div class="content">
								<h3 class="card__title">Кузьмович Діана</h3>
								<p class="card__text">Майстер з нарощування волосся</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>