<section class="products js-hidden" id="products">
  <div class="container">
    <p class="text products__label-top">Професійні</p>
    <h2 class="title products__title">Послуги</h2>
    <p class="products__label">нашої студії</p>
    <ul class="products__list">
      <li class="products-item">
        <h3 class="products-item__title">
          <strong>Ботокс</strong>
        </h3>
        <p class="products-item__text">
          Ботокс для волосся – популярна доглядова процедура для волосся.
        </p>
        <p class="products-item__text">
          Ботокс – це процедура з оздоровлення і відновлення тьмяного, сухого,
          пошкодженого волосся. Робимо у двох варіантах: гарячий ботокс або
          холодний ботокс.
        </p>
      </li>
      <li class="products-item">
        <h3 class="products-item__title products-item__title--coffee">
          <strong>амінокислотне випрямлення</strong>
        </h3>
        <p class="products-item__text">
          Найунікальніша розробка для відновлення дуже пошкодженого волосся
          (після хімічних або термічних процедур: фарбування, висвітлення,
          невдалого кератину або ботоксу).
        </p>
      </li>
      <li class="products-item">
        <h3 class="products-item__title products-item__title--milk">
          <strong>Нарощування волосся</strong>
        </h3>
        <p class="products-item__text">
          Капсульне нарощування волосся — це італійська гаряча техніка
          нарощування, яка забезпечує максимально натуральний ефект без
          дискомфорту чи болю під час процедури та подальшої носки.
        </p>
      </li>
      <li class="products-item">
        <h3 class="products-item__title">
          <strong>Кератинове випрямлення</strong>
        </h3>
        <p class="products-item__text">
          Кератинове випрямлення волосся — топова процедура для волосся від
          небажаної хвилястості та пухнастості. Підходить для натурального,
          хвилястого, кучерявого та дуже пересушеного волосся, нарощеного
          волосся.
        </p>
      </li>
    </ul>
  </div>
</section>
