<section class="products js-hidden" id="products">
  <div class="container">
    <p class="text products__label-top">Професійні</p>
    <h2 class="title products__title">Послуги</h2>
    <p class="products__label">нашої студії</p>
    <ul class="products__list">
      <li class="products-item">
        <h3 class="products-item__title">
          <strong>Ботокс</strong>
        </h3>
        <p class="products-item__text">
          Ботокс для волосся – порівняно нова та дуже популярна процедура для
          волосся.
        </p>
        <p class="products-item__text">
          Ботокс для волосся – процедура, яка перетворить тьмяні, сухі,
          пошкоджені пасма.
        </p>
      </li>
      <li class="products-item">
        <h3 class="products-item__title products-item__title--coffee">
          <strong>амінокислотне випрямлення</strong>
        </h3>
        <p class="products-item__text">
          Однією з унікальних розробок, що дає можливість випрямити та
          оздоровити пасма, є амінокислотне випрямлення волосся.
        </p>
      </li>
      <li class="products-item">
        <h3 class="products-item__title products-item__title--milk">
          <strong>Нарощування волосся</strong>
        </h3>
        <p class="products-item__text">
          Нарощування волосся — перукарська процедура додавання до природного
          волосся людини додаткових пасмів для надання довжини та об'єму.
        </p>
      </li>
      <li class="products-item">
        <h3 class="products-item__title">
          <strong>Кератинове випрямлення</strong>
        </h3>
        <p class="products-item__text">
          Кератинове випрямлення волосся — однозначно, одна з найпопулярніших
          процедур для волосся.
        </p>
      </li>
    </ul>
  </div>
</section>
