.advantages {
  background-color: $bg-light;

  padding-top: 40px;
  padding-bottom: 40px;

  @include breakpointFrom(tablet) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.advantages__wrapper {
  @include breakpointFrom(tablet) {
    display: flex;
    align-items: center;
    gap: 5;
  }
}

.advantages-box {
  width: 100%;
  height: 300px;

  background-image: url(../images/beauty-png/masters.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 20px;

  padding: 40px 20px;
  margin-bottom: 20px;

  background-color: $brand-color;
  box-shadow: $img-shadow-accent;

  @include breakpointFrom(tablet) {
    width: 50%;
    height: 300px;

    padding: 50px 20px;
    margin: 0;
  }

  @include breakpointFrom(desktop) {
    width: 650px;
    height: 450px;

    padding: 80px 40px;
  }
}

.advantages-box__text,
.advantages-box__title,
.advantages-box__subtext {
  text-align: left;
  color: $white;
}

.advantages-box__text {
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.4;

  @include breakpointFrom(tablet) {
    font-size: 14px;
  }

  @include breakpointFrom(desktop) {
    font-size: 18px;
  }
}

.advantages-box__title {
  color: $white;
  margin-bottom: 20px;

  @include breakpointFrom(tablet) {
    font-size: 32px;
    line-height: 1.15;
    margin-bottom: 13px;
  }

  @include breakpointFrom(desktop) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 16px;
  }
}

.advantages-box__subtext {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  @include breakpointFrom(tablet) {
    font-size: 16px;
  }

  @include breakpointFrom(desktop) {
    font-size: 18px;
  }
}

.advantages__list {
  display: block;

  @include breakpointFrom(tablet) {
    display: flex;
  }
}

.advantages {
  background-color: $bg-light;

  &__item {
    position: relative;
    width: 100%;

    @include breakpointFrom(mobile) {
      width: 230px;
      padding-top: 60px;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    @include breakpointFrom(tablet) {
      width: 180px;
      padding-top: 86px;

      &:not(:last-child) {
        margin-right: 22px;
      }
    }

    @include breakpointFrom(desktop) {
      width: 188px;
      padding-top: 90px;
    }

    &::before {
      content: ' ';
      position: absolute;

      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: $text-color;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.71;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.75;
    }
  }
}

// Slider
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;

  @include breakpointFrom(tablet) {
    margin-left: 3px;
  }

  @include breakpointFrom(desktop) {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  width: 17em;

  margin-bottom: 20px;

  @include breakpointFrom(tablet) {
    width: 50em;
  }

  @include breakpointFrom(desktop) {
    width: 50em;
  }

  & > .inner {
    display: flex;
    gap: 1em;
    transition: all 1s ease-in-out;
  }
}

.card {
  overflow: hidden;
  width: 160px;
  height: 350px;

  border-radius: 0.5em;
  margin-bottom: 40px;

  .img-wrap {
    overflow: hidden;
    height: 280px;

    & img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
    }
  }

  @include breakpointFrom(tablet) {
    width: 100%;
    height: 350px;
    margin: 0;
  }

  @include breakpointFrom(desktop) {
    width: 200px;
    min-height: 357px;
    height: 100%;
  }

  & > .content {
    background: $brand-color;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    text-align: center;
    min-height: 76px;
    padding: 5px;

    .card__text {
      color: rgb(211, 211, 211);
      font-size: 14px;

      @include breakpointFrom(tablet) {
        font-size: 12px;
      }
    }

    @include breakpointFrom(tablet) {
      padding: 5px;
    }

    & > h3 {
      margin-bottom: 0.35em;
    }

    & > h1 {
      color: #fff;
      font-size: 1.25rem;
      line-height: 1;
      @include breakpointFrom(tablet) {
        font-size: 0.8em;
      }

      @include breakpointFrom(desktop) {
        font-size: 1.25rem;
      }
    }

    & > h3 {
      color: $white;
      font-size: 1rem;
      font-weight: 500;

      @include breakpointFrom(tablet) {
        font-size: 1.1em;
      }

      @include breakpointFrom(desktop) {
        font-size: 1.2rem;
      }
    }
  }
}
