.advantages {
  background-color: $bg-light;

  padding-top: 40px;
  padding-bottom: 40px;

  @include breakpointFrom(tablet) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.advantages__wrapper {
  @include breakpointFrom(tablet) {
    display: flex;
  }
}

.advantages-box {
  width: 100%;
  height: 300px;

  background-image: url(../images/beauty-png/masters.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 20px;

  padding: 40px 20px;
  margin-bottom: 20px;

  background-color: $brand-color;
  box-shadow: $img-shadow-accent;

  @include breakpointFrom(tablet) {
    width: 50%;
    height: 300px;

    padding: 50px 20px;
    margin: 0;
  }

  @include breakpointFrom(desktop) {
    width: 35%;
    height: 400px;

    padding: 80px 40px;
  }
}

.advantages-box__text,
.advantages-box__title,
.advantages-box__subtext {
  text-align: left;
  color: $white;
}

.advantages-box__text {
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 1.4;

  @include breakpointFrom(tablet) {
    font-size: 12px;
  }

  @include breakpointFrom(desktop) {
    font-size: 18px;
  }
}

.advantages-box__title {
  color: $white;
  margin-bottom: 20px;

  @include breakpointFrom(tablet) {
    font-size: 32px;
    line-height: 1.15;
    margin-bottom: 13px;
  }

  @include breakpointFrom(desktop) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 16px;
  }
}

.advantages-box__subtext {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;

  @include breakpointFrom(tablet) {
    font-size: 14px;
  }

  @include breakpointFrom(desktop) {
    font-size: 18px;
  }
}

.advantages__list {
  display: block;

  @include breakpointFrom(tablet) {
    display: flex;
    //flex-wrap: wrap;
    // flex-direction: row;
  }
}

.advantages {
  background-color: $bg-light;

  &__item {
    position: relative;
    width: 100%;

    @include breakpointFrom(mobile) {
      width: 230px;
      padding-top: 60px;

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    @include breakpointFrom(tablet) {
      width: 180px;
      padding-top: 86px;

      &:not(:last-child) {
        margin-right: 22px;
      }
    }

    @include breakpointFrom(desktop) {
      width: 188px;
      padding-top: 90px;

      &:not(:last-child) {
        // margin-right: 106px;
      }
    }

    &::before {
      content: ' ';
      position: absolute;

      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--milk::before {
      width: 33px;
      height: 50px;
      top: 0;
      left: 0;

      // background-image: url(../images/advantages/milk1x.png),
      //   url(../images/advantages/milk2x.png);
    }

    &--apple::before {
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;

      // background-image: url(../images/advantages/apple1x.png),
      //   url(../images/advantages/apple2x.png);
    }

    &--heart::before {
      width: 44px;
      height: 50px;
      top: 0;
      left: 0;

    //   background-image: url(../images/advantages/heart1x.png),
    //     url(../images/advantages/heart2x.png);
    }
  }

  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: $text-color;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.71;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.75;
    }
  }
}

// Slider

.center {
  // width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;

  @include breakpointFrom(tablet) {
    margin-left: 3px;
  }
}

.wrapper {
  display: flex;
  width: 17em;

  margin-bottom: 20px;

  @include breakpointFrom(tablet) {
    width: 50em;
  }

  @include breakpointFrom(desktop) {
    width: 45em;
  }

  & > .inner {
    display: flex;
    gap: 1em;
    transition: all 1s ease-in-out;
  }
}

.card {
  width: 160px;
  height: 200px;

  border-radius: 0.5em;
  box-shadow: $img-shadow-accent;

  margin-bottom: 40px;

  @include breakpointFrom(tablet) {
    width: 160px;
    height: 195px;
    margin: 0;
  }

  @include breakpointFrom(desktop) {
    width: 200px;
    height: 265px;
  }

  & > img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
  }

  & > .content {
    background: $brand-color;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 1em;
    text-align: center;

    .card__text{
      color: rgb(211, 211, 211);
      font-size: 14px;
    }

    @include breakpointFrom(tablet) {
      padding: 10px;
    }

    @include breakpointFrom(desktop) {
      padding: 1em;
    }

    & > h1,
    & > h3 {
      margin: 0.35em 0;
    }

    & > h1 {
      color: #fff;
      font-size: 1.25rem;
      line-height: 1;
      @include breakpointFrom(tablet) {
        font-size: 0.8em;
      }

      @include breakpointFrom(desktop) {
        font-size: 1.25rem;
      }
    }

    & > h3 {
      color: #ccc;
      font-size: 0.5rem;
      font-weight: 300;

      @include breakpointFrom(tablet) {
        font-size: 0.7em;
      }

      @include breakpointFrom(desktop) {
        font-size: 0.9rem;
      }
    }
  }
}

.map {
  // margin-top: 1em;
  & > button {
    padding: 10px;
    background: $brand-color;
    cursor: pointer;
    margin: 0 0.125em;
    border-radius: 50%;

    &.active {
      &:after {
        background: $brand-color;
        content: '';
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        border-radius: 50%;
      }
    }
  }
}
